<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--Конфигурация для testNG фреймворка-->
<suite name="Cross Browser  Suite">
    <test name="Tests.pn First Test Chrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="Tests.rozetka.NoBuyOnlyClickScenario" />
            <class name="Tests.pn.FirstTest" />
        </classes>
    </test>
    <test name="Tests.pn First Test Firefox">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="Tests.rozetka.NoBuyOnlyClickScenario" />
            <class name="Tests.pn.FirstTest" />
        </classes>
    </test>
</suite>